
# PostgreSQL connection settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=open_library_dw
DB_USER=postgres
DB_PASSWORD=replace_with_your_local_password

# Optional ratings ETL limit
RATINGS_LIMIT=400000

# Local ratings dataset path
RATINGS_FILE=data/ol_dump_ratings_2025-03-31.txt
